body {
    background-image: url("/static/images/background.jpg");
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: rgb(255, 178, 102);
    margin: 0;
}

a:link {
    color: rgb(255, 178, 102);
    text-decoration: none;
}

a:visited {
     color: rgb(255, 178, 102);
}

a:hover {
    cursor: pointer;
    color: rgb(255, 178, 102);
}

/* Style do base.html */
.topbar {
    width: 100%;
    height: 40px;
    margin: 0px;
}

.topbarL,
.topbarL-user {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    margin-left: 10px; 
    color: rgb(255, 178, 102);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all;
    float: left;
}

.topbarR {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    margin-right: 10px; 
    color: rgb(255, 178, 102);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all;
    float: right;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

/* Style do index.html */
.info {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
}

.info ul {
    text-align: left;
}

/* Tło do tablic oraz formularzy. */

.tablica,
.box {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(105, 105, 105, 0.75);
    padding: 10px;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: -1px 0px 24px -2px rgba(105,105,105,0.71);
    -webkit-box-shadow: -1px 0px 24px -2px rgba(105,105,105,0.71);
    -moz-box-shadow: -1px 0px 24px -2px rgba(105,105,105,0.71);
}

/* Style do tablic. */

.tablica th {
    background-color:  rgba(38, 38, 38, 0.75);
    font-weight: bold;
}

.tablica td {
    padding: 3px 4px;  
    border-left: 1px solid rgb(0, 0, 0);  
}
.tablica td a {
    width: auto;
    display: block;
}

.tablica tr {
    border: 1px solid rgb(0, 0, 0);

}

.highlight:hover {
    background-color: rgb(76, 76, 76);
}

.highlight:focus {
    background-color: rgb(114, 114, 114);
}

/* Style do formularzy. */

input[type=text],
input[type=email],
input[type=password],
.input-submit {
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    color: rgb(255, 178, 102);
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    outline: none;
}

.input-space {
    margin-top: 15px;
}

.submit-button {
    width: 140px;
    height: 40px;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 178, 102);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 78px;
    float: left;
}

.return-button {
    display: inline-block;
    width: 140px;
    height: 37px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 78px;
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    color: rgb(255, 178, 102);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

select {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 178, 102);
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border: 2px solid rgb(0, 0, 0);
}

.showPasswordToggle {
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 80px;
    margin-top: 5px;
    margin-bottom: 25px;
    float: right;
    transition: all;
    cursor: pointer;
    } 

.reset_button a {
    text-decoration: underline;
}

/* Efekty przycisku po najechaniu na niego kursorem. */

.input-submit:hover,
select:hover,
.return-button:hover,
.submit-button:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
}

.showPasswordToggle:hover,
.topbarR:hover,
.topbarL:hover,
.reset_button:hover{
    transform: scale(1.2);
}

/* Pokazanie cienia przycisku po wciśnięciu. */
.input-submit:focus,
select:focus,
.return-button:focus,
.submit-button:focus,
input:focus{
    box-shadow: -1px 0px 24px -2px rgba(180, 180, 180, 0.71);
    -webkit-box-shadow: -1px 0px 24px -2px rgba(180, 180, 180, 0.71);
    -moz-box-shadow: -1px 0px 24px -2px rgba(180, 180, 180, 0.71);
}

/* Wyśrodkowanie pseudo-przycisku(kotwicy <a>) */

.return-button:before,
.topbarL,
.topbarR {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Centered
{
    vertical-align: middle;
    display: inline-block;
}