{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="box">
    <h3>Podaj adres e-mail</h3>

    <form action="{% url 'request-password' %}" method="POST">

      {% csrf_token %}
      {% include '_messages.html' %}

      <div class='input-space' style="margin-bottom: 20px;">
        <input 
          type="email" 
          name="email" 
          id="emailField" 
          placeholder="Wprowadź adres e-mail"
          value="{{ values.email }}" />
      </div>

      <input type="submit" value="Wyślij" class="input-submit"/>

    </form>

  </div>

  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock content %}