{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="box">
    <h3>Zmień hasło</h3>

    <form action="{% url 'reset-user-password' uidb64 token %}" method="POST">

      {% csrf_token %}
      {% include '_messages.html' %}

      <div class='input-space'>
        <input 
          type="password" 
          name="password" 
          id="passwordField"
          placeholder="Wprowadź hasło"
          style="margin-bottom: 5px;" />
        <div>
          <small class="showPasswordToggle" style="margin-bottom: 15px;">Pokaż</small>
        </div>
      </div>
      <div style="clear: both;"></div>

      <div class='input-space'>
        <input 
          type="password" 
          name="password2" 
          id="passwordField"
          placeholder="Wprowadź ponownie hasło"
          style="margin-bottom: 15px; margin-top: -10px;" />
      </div>
      <div style="clear: both;"></div>

      <input type="submit" value="Zmień hasło" class="input-submit"/>

    </form>
  </div>

  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock content %}